<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>

<body>
    {% for product in object_list %}
    <h2>{{ product.product_name }}</h2>
    <p>{{ product.product_description }}</p>
    <img src="{{ product.img1 }}" alt="{{ product.product_name }} Image 1">
    <img src="{{ product.img2 }}" alt="{{ product.product_name }} Image 2">
    <img src="{{ product.img3 }}" alt="{{ product.product_name }} Image 3">
    <p>Price: {{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Brand: {{ product.brand }}</p>
    {% endfor %}

</body>

</html>